<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>bent lettuce</title>
	<meta name="author" content="Aaron Moodie">
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />

</head>
<body>
	<div id="container">
		<div id="head">
			<h1 id="404_error">404 Error</h1>
		</div>
		<div id="body">
			<p>Sorry, the page you are looking for is not here?!</p>
			<p><a href="/">Head home.</a></p>
		</div>
	</div>
</body>
</html>